<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Đây là Vi ♥</title>
  <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="./daylavi/images/vi1.jpg">
  <link rel="stylesheet" href="./daylavi/style.css">
</head>

<body>
  <div id="drag-container">
    <div id="spin-container">
      <!-- Đổi <div> (theo video) thành <img> để dễ dàng thêm, sửa, xoá các hình -->
      <!-- Muốn thêm ảnh thì chỉ cần thêm tag <img> hoặc <video> -->
      <img src="./daylavi/images/vi1.jpg"
        alt="">
      <img
        src="./daylavi/images/vi2.jpg"
        alt="">
      <img
        src="./daylavi/images/vi3.jpg"
        alt="">
      <img
        src="./daylavi/images/vi4.jpg"
        alt="">
      <img
        src="./daylavi/images/vi5.jpg"
        alt="">
      <img
        src="./daylavi/images/vi9.jpg"
        alt="">
      <img
        src="./daylavi/images/vi10.jpg"
        alt="">

      <!-- Ví dụ thêm ảnh chứa link -->
      <!-- <a target="_blank" href="./daylavi/images/vi1.jpg">
        <img
          src="./daylavi/images/vi1.jpg"
          alt="">
      </a> -->

      <!-- Ví dụ thêm video  -->
      <!-- <video controls autoplay="autoplay" loop>
        <source
          src="./daylavi/video1.mp4"
          type="video/mp4">
      </video> -->

      <!-- Dòng chữ ở giữa vòng xoay -->
      <p>Đây là Thảo Vi <span style="color: red;">♥</span></p>
    </div>
    <div id="ground"></div>
  </div>

  <div id="music-container"></div>

  <script src="./daylavi/script.js"></script>
</body>

</html>
